*{
    margin:0;
    padding:0;

}


.myPicture {
    max-width:200px;
    border-radius: 50%;
    margin-left: 150px;
    margin-bottom: 50px;
    border: 3px solid black;

}


h1 {
    margin-bottom: 50px;
    margin-left: 30px;
    margin-top: 20px;

}


p {
    margin-left: 20px;
    margin-bottom: 50px;

}

h2 {
    margin-left: 25px;
    margin-bottom: 15px;

}

li {
    margin-left: 75px;
    
}

.socialMedia {
    max-width: 42px;
    margin-right: 6px;
    display: inline-block;
    
}

div ul {
    margin-bottom: 75px;
}


.linkedin {
    max-width: 30px;
    display: inline-block;
    position: absolute;
    top: 681px;
    left: 139px;
    
}

a img {
    margin-left: 15px;
}



